use Mix.Config

config :hammer,
  backend: {
    Hammer.Backend.Mnesia,
    [expiry_ms: 60_000 * 60 * 2, cleanup_interval_ms: 60_000 * 10]
  }

config :hydrogen,
  client_id: "client id",
  client_secret: "client secret",
  api_endpoint: "https://discord.com/api/v6",
  scope: ["identify", "email", "guilds"],
  discord_redirect_url: "hydrogen url.something/redirect",
  final_redirect: "your website",
  port: 8080,
  scheme: :http, # Use ":https" if you're going to use HTTPS.
  mongo_url: "", # Self explanatory (NO DNS SEEDING (mongodb+srv://) SUPPORT! BLAME kobil-systems/mongodb)
  db_pool_size: 1, # How many db connections will be used.
  edit_bucket_ms: 10_000, # Edit hammer bucket TTL
  edit_bucket_amount: 5 # Edit hammer bucket amount. This means that you can do 5 requests every edit_bucket_ms (10s) before you get ratelimited.

import_config "modules.exs" # Let's load dashboard modules from the modules.exs config

# Uncomment these if you're going to use Hydrogen with HTTPS support.
# For more information, refer to plug's documentation.
# https://hexdocs.pm/plug/https.html

# Plug.Cowboy.https Hydrogen.Router, [],
#   port: 443,
#   cipher_suite: :strong,
#   certfile: "/etc/letsencrypt/live/example.net/cert.pem",
#   keyfile: "/etc/letsencrypt/live/example.net/privkey.pem",
#   cacertfile: "/etc/letsencrypt/live/example.net/chain.pem"