use Mix.Config

config :hydrogen,
  client_id: "client id",
  client_secret: "client secret",
  api_endpoint: "https://discord.com/api/v6",
  scope: ["identify", "email", "guilds"],
  discord_redirect_url: "hydrogen url.something/redirect",
  final_redirect: "your website"